body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwfltRZRSPNngkj2pPlSzhUcRy3hIMFsGxF5yPIsvIvl6SMZv') ; 
    background-size: 2000px;
}


.a1{
    position: absolute;
    top:6%;
    left:55%;
    font-size: 35px;
    text-decoration: none;

}

.a2{
    position: absolute;
    top:6%;
    left:65%;
    font-size: 35px;
    text-decoration: none;
}

.a3{
    position: absolute;
    top:6%;
    left:75%;
    font-size: 35px;
    text-decoration: none;
}


.a4{
    position: absolute;
    top:6%;
    left:85%;
    font-size: 35px;
    text-decoration: none;    
}

.image{
    width:90px; 
    height:90px;
    border-radius:50px;
    position: absolute;
    top:2%;
    left:2%;
}
.top_h{
    position: absolute;
    top:2%;
    left:10%;
    font-family: 'Lobster', cursive;
    color:darkblue;
    font-size: 40px;
}

.top{
    background-color:darkorange;
    border-radius: 50px;
    position: fixed;
    top:0%;
    padding: 20px 1750px 00px 50px;
}
