.random_no{
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding:100px 100px 100px 100px ;
    border-radius:50px;
    font-size: 50px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjO270WsdmOp44ASF3gGvetn8BtegKdftcBzNpjqvWLTxHtw3IEg");
    background-size:400px; 
    position:absolute;
    top:30%;
    left:05%;
    color:white;
    
}

.tic-tac-toe{
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding:100px 100px 100px 100px ;
    border-radius:50px;
    font-size: 50px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBkBkR2o9GfEPlg_Giki-ICwZrrCGKP1S3-nQDc8YBCrETxhZm");
    background-size:420px; 
    position:absolute;
    top:30%;
    left:45%;
    color:lightgreen;
    
}


a{
    text-decoration: none;
}
.top{
    background-color:darkturquoise;
    border-radius: 50px;
    position: fixed;
    top:0%;
    padding: 20px 1750px 00px 50px;
}

.top_h{
    position: fixed;
    top:2%;
    left:10%;
    font-family: 'Lobster', cursive;
    color:red;
    font-size: 40px;
}

.choose{
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    padding:5px 15px 5px 15px ;
    border-radius:50px;
    font-size:50px;
    position: absolute;
    top:15%;
    left:32%;
    background-color:whitesmoke ;
    color:red;
    font-family: lobster;

}

.a1{
    position: fixed;
    top:6%;
    left:55%;
    font-size: 35px;
    text-decoration: none;

}

.a2{
    position: fixed;
    top:6%;
    left:65%;
    font-size: 35px;
    text-decoration: none;
}

.a3{
    position: fixed;
    top:6%;
    left:75%;
    font-size: 35px;
    text-decoration: none;
}
body{
    background-image:url('https://images.pexels.com/photos/262488/pexels-photo-262488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') ; 
}

.a4{
    position: fixed;
    top:6%;
    left:85%;
    font-size: 35px;
    text-decoration: none;    
}

.image{
    width:90px; 
    height:90px;
    border-radius:50px;
    position: fixed;
    top:2%;
    left:2%;
}

.a1:hover{
    color:yellow;
    transform: scale(1.3);
}

.a2:hover{
    color:yellow;
    transform: scale(1.3);
}

.a3:hover{
    color:yellow;
    transform: scale(1.3);
}


.a4:hover{
    color:yellow;
    transform: scale(1.3);
}


.top_h:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: yellow;

}


.image:hover{
    transform: scale(1.2);
    cursor: pointer;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

