body{
    background-image:url('https://images.pexels.com/photos/1187438/pexels-photo-1187438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') ; 
    background-size: 1830px;
    
}

.quote{
    position: absolute;
    top:12%;
    left:17%;
    font-family: 'Lobster';
    color:red;
    font-size:80px ;
}

.top_h{
    position: fixed;
    top:2%;
    left:10%;
    font-family: 'Lobster', cursive;
    color:white;
    font-size: 40px;
}


.top_h:hover{
    transform: scale(1.2);
    cursor: pointer;
color: chartreuse;

}

.image{
    width:90px; 
    height:90px;
    border-radius:50px;
    position: fixed;
    top:2%;
    left:2%;
}

.image:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.name{
    position: absolute;
    top:60%;
    left:36%;
    color: white;
    font-size: 25px;
}

.name:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.top{
    background-color:darkslategray;
    border-radius: 50px;
    position: fixed;
    top:0%;
    padding: 20px 1750px 00px 50px;
}
p{

    font-size:30px;    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
}
.middle{
    position: absolute;
    top:35%;
    left:35%;
    border-bottom:2px solid black ;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 60px 100px 0px 100px ;
    border-radius: 50px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvM6pzXU4MAidHtM4qMMR161ei9Q8BWS3aDwSN0sLeCPCos-pO");
    background-size:500px; 
    }

.a1{
    position: fixed;
    top:6%;
    left:55%;
    font-size: 35px;
    text-decoration: none;
    color:white;

}

.a2{
    position: fixed;
    top:6%;
    left:65%;
    color:white;
    font-size: 35px;
    text-decoration: none;
}

.a3{
    position: fixed;
    top:6%;
    left:75%;
    color:white;
    font-size: 35px;
    text-decoration: none;
}


.a4{
    position: fixed;
    top:6%;
    color:white;
    left:85%;
    font-size: 35px;
    text-decoration: none;   
}

.bottom{
    border-top:1px solid black;
    position: absolute;
    bottom:09%;
    color:white;
}

.mob{
    position: absolute;
    top:110%;
    left:76%;
    color:black;
    font-size: 35px;
    font-weight: bold;

}

.mob:hover{
    color:darkblue;
    transform: scale(1.3);
}

.mail{
    position: absolute;
    top:105%;
    font-size: 35px;
    left:70%;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.mail:hover{
    color:darkblue;
    transform: scale(1.3);
}       

.cont{
    position: absolute;
    top:95%;
    left:75%;
    color:black;
    font-weight: bold;
    font-size: 50px;
}
.cont:hover{
    color:darkblue;
    transform: scale(1.3);
}


.logo{
    position: absolute;
    top:120%;
    left:57%;
    width: 100%;
}


.btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: black;
    margin: 10px;
    border-radius: 30px;
    color:white;
    position: relative;
    padding:  2px 2px 2px  30px ;
}


.btn i{
    line-height:70px;
    text-align-last:30%;
    font-size: 50px;
    transition: 0.2s linear;

}

.btn:hover i{
    transform: scale(1.3);
    color:cyan; 
}

.a1:hover{
    color:yellow;
    font-weight: bold;    
    transform: scale(1.3);
}

.a2:hover{
    color:yellow;
    font-weight: bold;    
    transform: scale(1.3);
}

.a3:hover{
    color:yellow;
    font-weight: bold;    
    transform: scale(1.3);
}


.a4:hover{
    color:yellow;
    transform: scale(1.3);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: bold;    
}


.skills{
    position: absolute;
    top:40%;
    left:80%;
    color:darkorange;
}

.qual{
    font-size: 40px;
    position: absolute;
    top:63%;
    left:65%;
}



.quality{
    position: absolute;
    top:65%;
    left:75%;
    font-size:25px;
    padding-right:50px; 
}


.mar{
    font-size:40px;
    color: red;
}