body{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: aqua;
    color: black;
}
.name{
    font-family: 'Lobster', cursive;
}


h1{
    font-family: 'Baloo Chettan', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
}

.about{
    background-color: rgb(211, 205, 205);
}

.mine{
    margin: 25px;
    width: 300px;
    height:300px;
}
.about_me{
    margin-top:35px;
}
.about_me p{
    margin-top:10px;
}
h3{
    color:white;
}


footer{
    background-color: black;
}

footer p{
    color:white;
    margin-left:50px;
}

