body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGow9yXUMWAyoJ42EFaIz3LGKvJiqUtM6_GSClm7Fuc9RRrseN");
    
}

.about{
    background-color: cornsilk;
    border-radius: 50px;
    padding: 30px 50px 30px 50px;
    font-size:40px;
    position: absolute;
    top:15%;
    left:38%;
}

.about_2{
    background-color: cornsilk;
    border-radius: 50px;
    padding: 30px 50px 30px 50px;
    font-size:40px;
    position: absolute;
    top:35%;
    left:20 %;
}

.play{
    position: absolute;
    top:70%;
    left:42%;
    font-size: 35px;
    height:45px;
    width:170px;
    text-align: center;
    border-radius: 50px;
    background-color: lightcoral;
    color:white;
}
.play:hover{
    cursor: all-scroll; 
}


.a1{
    position: absolute;
    top:6%;
    left:55%;
    font-size: 35px;
    text-decoration: none;

}

.a2{
    position: absolute;
    top:6%;
    left:65%;
    font-size: 35px;
    text-decoration: none;
}

.a3{
    position: absolute;
    top:6%;
    left:75%;
    font-size: 35px;
    text-decoration: none;
}


.a4{
    position: absolute;
    top:6%;
    left:85%;
    font-size: 35px;
    text-decoration: none;    
}

.image{
    width:90px; 
    height:90px;
    border-radius:50px;
    position: absolute;
    top:2%;
    left:2%;
}
.top_h{
    position: absolute;
    top:2%;
    left:10%;
    font-family: 'Lobster', cursive;
    color:darkblue;
    font-size: 40px;
}


    .top{
        background-color:darkorange;
        border-radius: 50px;        
    
}
